extends ../base

block styles
    link(rel="stylesheet" href="/components/simplemde/dist/simplemde.min.css")

block content
    h1.add Blog Ekle
    form.mt-5#addForm(method="POST" actions="/blog/add")
        label(for='exampleFormControlTextarea1')
            .p-form.mt-3 Paylaşmak İstediğiniz Metnin Başlığını Giriniz
        .input-group
            input.form-control#title(type="text" name="title" aria-label='With textarea', required)
        br
        label(for='exampleFormControlTextarea1') 
            .p-form.mt-3 Paylaşmak İstediğiniz Metni Giriniz
        textarea.form-control#mdtextarea(aria-label='With textarea' name="content", required)

        .row
            .col-lg-12
                button.btn.btn-send.mt-5#sbbtn Gönder
                    i.ml-3.fas.fa-paper-plane


block js
    script(src="/components/simplemde/dist/simplemde.min.js")
    script.

        const getImageUrl = (value) => {
            const images = value.match(/^!\[Banner\]\((.+)\)/);
            if (images) {
                return images[1];
            } else return false;
        }
        var simpleMD = new SimpleMDE({
            element: document.getElementById("mdtextarea"),
            indentWithTabs: true,
        });

        $("#sbbtn").click(function(evt) {
            evt.preventDefault()
            simpleMD.toTextArea();
            console.log(simpleMD.value())
            ;
            const payload = {
                title: $("#title").val(),
                detail: simpleMD.value().replace(/^!\[Banner\]\((.+)\)/, ""),
                bannerUrl:  getImageUrl(simpleMD.value())
            }
            console.log(payload);
            simpleMD = null
            $.ajax({
                type: 'POST',
                url: '/blog/add',
                data: payload,
                statusCode: {
                    200: function(){
                        window.location.href = "/"
                    }
                }
            })
        })

