extends ../base

block content
    .kapsamli.mx-4
        

        h1.display-4.titles= blog.title
        br
        .row
            .col-lg-12.text-center
                img.img-fluid.my-4(src="/images/" + blog.image, width="80%")

        .paragraf.container!= convertedContent
    
            p.paragraf4 #{parseDate(blog.pub_date)}
        if user    
            a.btn.btn-edit.mt-5(href="/blog/" + blog.id + '/edit') Düzenle 
                i.ml-2.fas.fa-pencil-alt

            a.btn.btn-delete.ml-3.mt-5#delete-blog(href="#", data-id=blog.id) Sil 
                i.ml-2.fas.fa-trash-alt


block js
    script(src="/components/js/index.js")
    script.
        $(".paragrafD img").addClass('img-fluid text-center');
    
