extends ../base

block styles
    link(rel="stylesheet" href="/components/simplemde/dist/simplemde.min.css")

block content
    h1.edit Blog Düzenle
    form.mt-5#addForm(method="POST" actions=actions="/blog/" + blog.id + '/edit' enctype="multipart/form-data")
        label(for='exampleFormControlTextarea1')
            .p-form.mt-3 Paylaşmak İstediğiniz Metnin Başlığını Giriniz
        .input-group
            input.form-control#title(type="text" name="title" aria-label='With textarea', value=blog.title, required)
        br
        label(for='exampleFormControlTextarea1') 
            .p-form.mt-3 Paylaşmak İstediğiniz Metni Giriniz
        textarea.form-control#mdtextarea(aria-label='With textarea' name="content", required)= blog.body
  
        .row
            .col-lg-12
                button.btn.btn-send.mt-5#sbbtn(type='submit') Gönder
                    i.ml-3.fas.fa-paper-plane

block js
    script(src="/components/simplemde/dist/simplemde.min.js")
    script.
        var simpleMD = new SimpleMDE({
            element: document.getElementById("mdtextarea"),
            indentWithTabs: true,
        });
        $("#sbbtn").click(function() {
            simpleMD.toTextArea();
            simpleMD = null;

            var data = new FormData($("addForm"));
            $.ajax({
                url: '/blog/add',
                enctype: 'multipart/form-data',
                data: data,
                type: 'POST',
                processData: false,
                contentType: false,
                cache: false,
            })
        })

