.nav-link
{
    font-size: 17px;
    margin-right:22px;
    text-align: center;
}
.main
{
    margin-top: 150px;
}
.titles
{
  border-bottom: 1px solid#1DA1F2;
  font-family: 'Montserrat', sans-serif;
}
#part
{
  margin-bottom:150px;
  margin-top:200px;
}
.paragraf
{
  font-family: 'Roboto', sans-serif;
}
.button
{
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
}
.paragraf2
{
  font-size:30px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
}
.footer
{
  background-color: #2D2D2D;
  padding-top:30px;
  padding-bottom:30px;
  color: #ffff; 
  margin-top:50px;
}
#git
{
  color:#f0f0f0;   
  font-size: 30px;
  color:#FFFF;
  margin-top:30px;
  margin-bottom: 10px;
}
#git:hover
{
  font-size: 40px;
  color:#FFFF;
  margin-top:30px;
  transition:0.3s;
}
#mail
{
  font-size: 30px;
  color:#ffcc00;
  margin-top:30px;
  margin-bottom: 10px;
}
#mail:hover
{
  font-size: 40px;
  color:#ffdb4d;
  margin-top:30px;
  transition:0.3s;
}

#tw
{
  font-size: 30px;
  color:#1DA1F2;
  margin-top:30px;
}
#tw:hover
{
  font-size: 40px;
  color:#86cdf9;
  margin-top:30px;
  transition:0.3s;
}
#instagram
{
  font-size: 30px;
  color:#D9163A;
  margin-top:30px;
}
#instagram:hover
{
  font-size: 40px;
  color:#f2738a;
  margin-top:30px;
  transition: 0.3s;
}
#in
{
  color:#0274B3;
  font-size: 30px;
  margin-top:30px;
}
#in:hover
{
  color:#2a9cdb;
  font-size: 40px;
  margin-top:30px;
  transition:0.3s;
}
#yt
{
  font-size: 30px;
  margin-top:30px;
  color:#FF0000;
  
}
#yt:hover
{
  color:#ff2626;
  font-size: 40px;
  margin-top:30px;
  transition:0.3s;
}


body > footer > div > div{
  text-align: center;
}
