/*blog spoiler*/
.paragraf 
{ 
  font-family: "Roboto", sans-serif;
  text-indent: 45px;
  font-size: 1rem;
}

/*form command*/
.p-form 
{
  font-family: "Open Sans", sans-serif;
}

.info
{
  font-family: "Roboto", sans-serif;
  text-indent: 45px;
}

.infoC
{
  font-family: "Roboto", sans-serif;
  text-indent: 0px;
}

.info_1
{
  font-family: "Roboto", sans-serif;
}
/*author in spoiler*/
.paragraf4
{
  text-align: right;
  font-family: "Roboto", sans-serif;
}

.add,
.edit {
  font-family: 'Raleway', sans-serif;
}

#navbarSupportedContent .nav-item
{
 text-align: center;
 font-family: "Open Sans", sans-serif;
}

#navbarSupportedContent > ul > li.nav-item.dropdown.mx-2.show > div > a
{
  background-color: white;
  text-align: center;
}

.icon-active
{
  color: #1ed760;
}

.background-color
{
  background-color: white;
}

.line
{
  background-image: linear-gradient(90deg,#1da1f2, #f5f5f5);
  border: 0;
  height: 1px;
}

.btn-grad
{
  border-radius: 30px;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(
    to right,
    #496f86 0%,
    #26a0da 50%,
    #496f86 100%
  );
  transition: 0.5s;
  font-family: "Open Sans", sans-serif;
}

.btn-grad:hover
{
  background-position: right center;
  text-decoration: none;
  color: white;
}

.carousel-item
{
  height: 100vh;
  object-fit: cover;
}

#profil_1
{
  border-radius: 15px;  
  max-height: 200px;
}

#profil_2
{
  border-radius: 20px;  
  max-height: 360px;
}

#name_index
{
  font-family: 'Raleway', sans-serif;
  
}

#writers
{
  margin-bottom: 70px;
  font-family: 'Raleway', sans-serif;
  border-bottom: #26a0da 1px solid;
}

.title_about
{
  font-family: 'Raleway', sans-serif;
}

.titles
{
  font-family: 'Raleway', sans-serif;
}

.footer
{
  background-color: #2d2d2d;
  color: #ffff;
}


#yt
{
  color: #FF0000;
  font-size: 30px;
  justify-content: left;
}

#yt:hover
{
  color: rgb(245, 101, 101);
  transition: 0.3s;
}

#mail
{
  font-size: 30px;
  color: #ffcc00;
 
}

#mail:hover
{
  color: #eed15b;
  transition: 0.3s;
}

#tw
{
  font-size: 30px;
  color: #1da1f2;
}

#tw:hover
{
  color: #86cdf9;
  transition: 0.3s;
}

#instagram
{
  font-size: 30px;
  color: #f03225ef;
}

#instagram:hover
{
  color: #e06b63ef;
  transition: 0.3s;
}

#in
{
  color: #0274b3;
  font-size: 30px;
}

#in:hover
{
  color: rgb(119, 188, 209);
  transition: 0.3s;
} 

#spotify
{
  color: #1ED760;
  font-size: 30px;
}

#spotify:hover
{
  color: rgb(113, 228, 153);
  transition: 0.3s;
}

body > footer > div > div
{
  text-align: center;
}

#under
{
  background-color: #242424;
  color: #ffff;
}

#name
{
  font-family: "Yellowtail", cursive;
  font-size: 25px;
}

.btn-edit
{
  border-radius: 30px;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(
    to right,
    #d6731c 0%,
    #d68b49 50%,
    #d6731c 100%
  );
  transition: 0.5s;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.btn-edit:hover
{
  background-position: right center;
  text-decoration: none;
  color: white;
}

.btn-delete
{
  border-radius: 30px;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(
    to right,
    #b01909 0%,
    #ab463c 50%,
    #b01909 100%
  );
  transition: 0.5s;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.btn-delete:hover
{
  background-position: right center;
  text-decoration: none;
  color: white;
}

.btn-send
{
  border-radius: 30px;
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(
    to right,
    #32a852 0%,
    #3bd163 50%,
    #32a852 100%
  );
  transition: 0.5s;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.btn-send:hover
{
  background-position: right center;
  text-decoration: none;
  color: white;
}

#part
{
  margin-bottom: 80px;
}

.output {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
.output h1 {
  font-size: 35px;
}
/* Cursor Styling */
.cursor::after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  background-color: #fff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height: 24px;
  width: 4px;
}
p.cursor::after {
  height: 13px;
  width: 2px;
}
@keyframes blink {
  0% {
    opacity: 1;
 }
  49% {
    opacity: 1;
 }
  50% {
    opacity: 0;
 }
  100% {
    opacity: 0;
 }
}

.description{
  min-height:60vh;
  background-color:#5f9bb8;
  text-align: center;
}

@media screen and (max-width:767px){

  .paragraf4
  {
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
}


@media screen and (max-width:992px){

  .paragraf 
  { 
    font-family: "Roboto", sans-serif;
    text-indent: 25px;
    font-size: 1rem;
  }

  .info
  {
    text-indent: 25px;
  }
  .titles
  {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
  }

  .title_about
  {
    text-align: center;
    font-size: 46px;
  }

  #name_index
  {
    font-size: 40px;
    text-align: center;
  }

  #part
  {
    margin-bottom: 70px;
  }
  .info_1
  {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 20px;
  }
  .div
  {
    text-align: center;
  }

  #writers
  {
    font-family: 'Raleway', sans-serif;
    border-bottom: #26a0da 1px solid;
  }

  .output h1
  {
    font-size: 25px;
  }

  .description
  {
    min-height: 25vh;
  }
}

@media screen and (min-width:992px)
{

  body > div > div > div.paragraf.paragrafD
  {
    max-width: 960px;
    margin-top:30px;
  } 
  
  .about
  {
    max-width: 960px;
  }

  .vertical
  {
   padding-top: 20vh;
  }

  body > div.description > div.container
  {
    max-width: 900px;
  }

}
