extends base

block content
    
    .row.mt-5.pt-4
        .col-lg-4.mt-5
            img.img-fluid.me(src="https://seyler.ekstat.com/img/max/800/M/MvyeV4QeFLecSC4N-636225811729519972.jpg", alt="")
        .col-lg-8.mt-5
            h1.titles-2 Hakkımda
                i.ml-2.fas.fa-user-tie
            br
            p.paragraf 
                |Ben Güngör Öztürk bilgisayar mühendisliği bölümü ikinci sınıf öğrencisiyim.
                |Konya Teknik Üniversitesi Bilgi işlem Daire Başkanlığında yarı zamanlı olarak çalışıyor,
                |aynı zamanda mobil uygulama geliştirmekle de ilgileniyorum.Ayrıca talep doğrultusunda 
                |freelance full-stack web developer olarak hizmet vermekteyim.
                |Kullanıcıların istek ve ihtiyaçları doğrultusunda, bu ihtiyaçlara çözüm getirecek platformlar 
                |geliştimek istediğim için bu alanlarda kendimi geliştirmeye gayret ediyorum.Boş zamanlarımda 
                |hobi olarak müzikle ilgileniyor, klarnet,ney ve bağlama çalıyorum.   

            h1.titles-2.mt-5 Eğitim
                i.ml-2.fas.fa-graduation-cap
            br
            p.paragraf Eğitimime Konya Teknik Üniversitesi Mühendislik ve Doğa Bilimleri Fakültesi Bilgisayar Mühendisliği Bölümünde ikinci sınıf öğrencisi olarak devam etmekteyim.
        
    .container(data-aos="fade-up",data-aos-duration="700")
        h1.titles-2.mt-5 Yeterlilikler
            i.ml-2.fas.fa-award
        .row.mt-5
            .col-lg-2
                img.img-fluid(src="images/site/Js.png", alt="")
            .col-lg-10
                p.paragraf3 
                    i.ml-2.fas.fa-check.check
                    | Uzun zaman önce web projelerimin front-end'ini yazarken kullanmaya başladım.EC6 ile birlikte frameworklerini yazmaya başladım.
        .row.mt-5
            .col-lg-2
                img.img-fluid(src="images/site/nodeJs.png", alt="")
            .col-lg-10
                p.paragraf3
                    i.ml-2.fas.fa-check.check
                    | Bu sitede de olduğu gibi bazı web projelerimin back-end'ini kodlarken kullandım.
        .row.mt-5
            .col-lg-2
                img.img-fluid(src="images/site/reactJs.svg", alt="")
            .col-lg-10
                p.paragraf3 
                    i.ml-2.fas.fa-check.check
                    |Web projelerimi geliştirmek ve daha dinamik hale getirmek amacıyla kullanmaya başladım.
        .row.mt-5
            .col-lg-2
                img.img-fluid(src="images/site/reactJs.svg", alt="")
                h5.rn React Native
            .col-lg-10
                p.paragraf3 
                    i.ml-2.fas.fa-check.check
                    |Mobil uygulama geliştirmek amacıyla öğrenmeye başladım.Halihazırda bir proje ekibinde front-end developer olarak görev alıyorum.
        .row.mt-5
            .col-lg-2
                img.img-fluid(src="images/site/jquery.png", alt="")
            .col-lg-10
                p.paragraf3 
                    i.ml-2.fas.fa-check.check
                    |Web projelerimi daha dinamik ve kullanıcı yanlısı hale getirmek amacıyla zaman zaman kullanıyorum. 
        .row.mt-5
            .col-lg-2
                img.img-fluid(src="images/site/html.png", alt="")
            .col-lg-10
                p.paragraf3 
                    i.ml-2.fas.fa-check.check
                    |Geliştirdiğim tüm web projelerimde uzun zamandır kullanıyorum. 
        .row.mt-5
            .col-lg-2
                img.img-fluid(src="images/site/css.png", alt="")
            .col-lg-10
                p.paragraf3 
                    i.ml-2.fas.fa-check.check
                    |Geliştirdiğim web projelerimde front-end tasrımlarımı koda dökerken sıklıkla kullanıyorum.
        .row.mt-5
            .col-lg-2
                img.img-fluid(src="images/site/bootstrap.png", alt="")
            .col-lg-10
                p.paragraf3 
                    i.ml-2.fas.fa-check.check
                    |Web projelerimde responsive front-end tasrımları yaparken bootstrap framework'ünü sıklıkla kullanıyorum.
        .row.mt-5
            .col-lg-2
                img.img-fluid(src="images/site/mongoDB.png", alt="")
            .col-lg-10
                p.paragraf3 
                    i.ml-2.fas.fa-check.check
                    |Şuan görmüş olduğunuz bu websitesinde de olduğu gibi bazı web projelerimde database olarak mongoDB kullandım.
        .row.mt-5
            .col-lg-2
                img.img-fluid(src="images/site/C.png", alt="")
            .col-lg-10
                p.paragraf3 
                    i.ml-2.fas.fa-check.check
                    |Üniversite 1.sınıfta algotitma ve programlama 1-2 derslerinde eğitimini aldım ve bazı küçük projelerde kullandım. 
        .row.mt-5
            .col-lg-2
                img.img-fluid(src="images/site/java.png" alt="")
            .col-lg-10
                p.paragraf3 
                    i.ml-2.fas.fa-check.check
                    |Üniversite 2.sınıfta nesneye yönelik programlama dersinde öğrenmeye başladım.Kariyeriminin ilerleyen döenmlerinde de aktif olarak kullanmayı düşünüyorum.      
                
                
        
                

block js
    script(src="/components/js/index.js")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script.
        AOS.init();

