extends base

block content
    
    .about.container
        h2.title_about.display-4.mb-4  Biz Kimiz ?
        p.paragraf
                |Bizler sadece kadim tarihimizden ve inancımızdan aldığımız güçle hiçbir zaman sahibi olamayacağımız zaman 
                |mefhumuna layığıyla emanetçilik etmeye çalışan ve bunun yolunun elimizden geldiğince kendimizi ve 
                |birbirimizi geliştirerek bugünümüzü daha verimli hale getirmekten geçtiğini farketmiş bir grup genciz.
        br

        h2.title_about.display-4.mb-4.mt-5  Görevimiz
        p.paragraf
            |Betik'in bize yüklediği misyon bize emanet edilen zamanı daha da değerli kılmaya çabalamak ve yaşadığımız
            |bu kutlu coğrafyada umutsuzluğu inancımızla, hayallerimize çizilmek istenen sınırları yüzyılardır 
            |yüreklerimizde taşıdığımız bitmek bilmeyen hürriyet aşkımızla, adeta cehalete taparak sadece bugünümüzü 
            |değil istikbalimizi de tehdit eden karanlık zihniyeti gayretimizle yok etmek için harekete geçmektir.
        br

        h2.title_about.display-4.mb-4  Amacımız
        p.paragraf
            |Hayatımızın en verimli çağları olan gençlik yıllarımızı daha değerli kılmak ve bizden sonra gelecek olan
            |nesillere daha müreffeh bir toplum bırakmak için büyük bir düşünce ve bilgi paylaşım platformu inşa etmek. 
        br

        h2.title_about.display-4.mb-4  Yöntemimiz
        p.paragraf
            |Hayallerimizi gerçekleştirmenin ilk adımının okullarımızda aldığımız eğitimle yetinmeyip daha çok araştırma 
            |yapmaktan, daha çok okumaktan ve elde ettiklerimizi de birbirimizle paylaşmaktan, zaman zaman da sanatın 
            |şefkatli elleri vasıtasıyla birbirimizin gönüllerine dokunmaktan geçtiğini düşünüyoruz. Bugün attığımız bu 
            |adımın sizlerin de desteğiyle birlikte hiçbir zaman umudumuzu kesmediğimiz, kesmeyeceğimiz yarınlarda çok 
            |daha büyük sonuçlarının olacağına inanıyoruz.
       
        br
        .row.justify-content-center.mx-1
            iframe(width='560', height='315', src='https://www.youtube.com/embed/kFe8YAQiT6U', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')



                
        
                

block js
    script(src="/components/js/index.js")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script.
        AOS.init();

