html(lang="en")
    head
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-160727580-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-160727580-1');



        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name='keywords' content='Psikoloji, Yazılım, Beyin, Elektronik, JavaScript, Beyin, Tarih')
        meta(name='description' content='Psikoloji, Yazılım, Nörofizyoloji, Elektronik, Tarih ve daha birçok alanla ilgili yazıları burada bulabilirsiniz.')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
        link(rel="stylesheet" href="/components/css/style.css")
        link(href='https://fonts.googleapis.com/css?family=Yellowtail&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Raleway:300&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap', rel='stylesheet')
        link(href='https://unpkg.com/aos@2.3.1/dist/aos.css', rel='stylesheet')

        block styles

        title #{title}
    body   
        nav.navbar.navbar-expand-lg.navbar-light.ml-auto.background-color.sticky-top
            a.ml-4(href='/')
                img(src='/images/LOGO_2.png', alt='Logo', width='115px')
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse.ml-auto
                ul.navbar-nav.ml-auto
                    li.nav-item.dropdown.mx-2
                        a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Biz Kimiz ?
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='/about') Hakkımızda
                            a.dropdown-item(href='/writers') Yazarlar        
                    li.nav-item.dropdown.mx-2
                        a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Sağlık Bilimleri
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='/users/melihcaneksioglu/blogs') Melih Can Ekşioğlu
                            a.dropdown-item(href='/users/kubranurbektas/blogs') Kübra Nur Bektaş
                    li.nav-item.dropdown.mx-2
                        a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Mühendislik Bilimleri
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='/users/gungorozturk/blogs') Güngör Öztürk
                            a.dropdown-item(href='/users/furkanoztekin/blogs') Furkan Öztekin
                    li.nav-item.mx-2
                        a.nav-link(href='/users/sanat/blogs') Sanat
                    if user
                        li.nav-item
                            a.nav-link(href='/blog/add') Blog Oluştur
                        if user
                            li.nav-item
                                a.nav-link#exitbtn(href="#") #{user.googleData.given_name}
                                    i.icon-active.ml-2.fas.fa-user-circle
                    else
                        li.nav-item.mx-2
                            a.btn.btn-grad.px-3(href='/login', role='button', aria-pressed='true') Yazar Girişi

        block description

        .container.main
            block content

        footer
            .footer.mt-5
                .row.container.mx-auto
                    .col-lg-1
                    .col-4.col-lg-2.py-lg-5.py-4
                        a(href='mailto:betikblog@gmail.com', target='_blank')
                            i#mail.fas.fa-envelope
                    .col-4.col-lg-2.py-lg-5.py-4
                        a(href='https://instagram.com/betikblog?igshid=1g57mq6qwvfip', target='_blank')
                            i#instagram.fab.fa-instagram
                    .col-4.col-lg-2.py-lg-5.py-4
                        a(href='https://twitter.com/betikblog?s=08', target='_blank')
                            i#tw.fab.fa-twitter
                    .col-6.col-lg-2.py-lg-5.py-4
                        a(href='https://www.youtube.com/channel/UCSWKuakUfWuDKphpYVakTQA/?guided_help_flow=5', target='_blank')
                            i#yt.fab.fa-youtube
                    .col-6.col-lg-2.py-lg-5.py-4
                        a(href='https://open.spotify.com/playlist/5W1bxql58QBOWDRrmC0xqx?si=u2rIL5sQQYmCvUVyrUhPcw', target='_blank')
                            i#spotify.fab.fa-spotify
                    .col-lg-1
            #under.row.mx-auto.p-2
                .p.mx-auto
                    | © Copyright by 
                    a(target='_blank', style='text-decoration: none; color:#fff', href='https://tr.linkedin.com/in/g%C3%BCng%C3%B6r-%C3%B6zt%C3%BCrk-8224a6198?trk=people-guest_people_search-card')
                        span#name.ml-2 Güngör Öztürk
            

                        
                   

                    



    block jquery
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
    scrript(src='https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js')
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8")
    script.


        $("#exitbtn").click(function(){
            Swal.fire({
                title: 'Çıkış yapmak istediğinize emin misiniz?',
                text: "Çıkıs yaparsanız yeni yazı paylaşmak için tekrar giriş yapmanız gerekecek!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet',
                cancelButtonText: 'Hayır'
            }).then(({value}) => {
                if (value){
                    window.location.pathname = "/logout"
                }
            })            
        })

        var urlParams = new URLSearchParams(window.location.search);

        if (urlParams.get('login')){
            Swal.fire({
                type: 'success',
                title: 'Giriş yaptınız',
                showConfirmButton: false,
                timer: 2000
            })
            history.pushState({id : "home"}, "Index", "?")
        }
        if (urlParams.get('logout')) {
            Swal.fire({
                type: 'success',
                title: 'Çıkış yaptınız',
                showConfirmButton: false,
                timer: 2000,
            })   
            history.pushState({id : "home"}, "Index", "?")
        }

    block js