html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
        link(rel="stylesheet", href="/components/css/style.css")
        link(href='https://fonts.googleapis.com/css?family=Yellowtail&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap', rel='stylesheet')
       






        block styles

        title #{title}
    body(style="background-color:#F5F5F5")
        nav#navbar1.navbar.fixed-top.navbar-expand-lg.navbar-light.ml-auto.bg-light
            .container
                a.navbar-brand(style="font-size:40px;font-family: 'Yellowtail', cursive;", href='/') Güngör Öztürk
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.container.navbar-collapse.ml-auto
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href='#') Hakkımda
                                i.ml-2.fas.fa-user-graduate
                        li.nav-item
                            a.nav-link(href='#') Projeler 
                                i.ml-2.fas.fa-laptop
                        li.nav-item
                            a.nav-link(href='/blog/add') Blog Oluştur
                                i.ml-2.fas.fa-feather-alt
                        li.nav-item
                            a.nav-link(href='#') Yazar Girişi
                                i.ml-2.fas.fa-door-open

                    form.form-inline.my-2
                        input.form-control.mr-sm-2(type='search', placeholder='Merak Ettikleriniz ?', aria-label='Merak Ettikleriniz ?')
                        button.btn.buton_1.btn-outline-dark.my-2(type='submit')
                            | Ara 
                            i.fas.fa-search


        block banner
        .container.main
            block content
        footer
            .footer
                .row.container.mx-auto
                    .col-lg-2
                        a(href='https://github.com/gngrozturk/MyBlog', target='_blank')
                            i#git.fab.fa-github
                    .col-lg-2
                        a(href='', target='_blank')
                            i#mail.fas.fa-envelope
                    .col-lg-2
                        a(href='', target='_blank')
                            i#tw.fab.fa-twitter
                    .col-lg-2
                        a(href='https://www.instagram.com/ozturkk.gungor/', target='_blank')
                            i#instagram.fab.fa-instagram
                    .col-lg-2
                        a(href='', target='_blank')
                            i#in.fab.fa-linkedin
                    .col-lg-2
                        a(href='', target='_blank')
                            i#yt.fab.fa-youtube

        



    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    block js