extends base

block content
    
    
    each blog in blogs
        .row.my-5
            .col-lg-7
                h1= blog.title
                p= blog.spoiler
                

            .col-lg-5
                img.img-fluid(src="/images/" + blog.image, alt='')

        .row
            .col-lg-7
                .d-flex.align-items-end
                    a.btn.btn-primary(href="/blog/" + blog.id) Devamını oku
                            



            

