extends base

block banner
    #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
        .carousel-inner
            .carousel-item
            img.d-block.w-100.banner(src="images/site/banner.jpg", alt="banner")
            .carousel-caption.captions
                p Merhaba Ben Güngör Öztürk
                br

                            
       

block content
    each blog in blogs
        #part(data-aos="fade-up",data-aos-duration="600")
            .row.my-5
                .col-lg-12
                    h1.display-4.titles= blog.title 
                    .p.paragraf4 #{blog.author} | 18.11.2019
                    
               
            .row
                .col-lg-7
                    p.paragraf= blog.spoiler

                .col-lg-5
                    img.img-fluid(src="/images/" + blog.image, alt='')

            .row.mt-3
                .col-lg-12
                    .d-flex.align-items-end
                        a.btn.btn-grad.p-3(href="/blog/" + blog.id) Devamını Oku
                            i.ml-3.fas.fa-angle-double-right
                        
        
block js
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script.
        AOS.init();
        

    

            

