extends base

block banner
    #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
        .carousel-inner
            .carousel-item
            img.d-block.w-100.banner(src="images/site/banner.jpg", alt="banner")
            .carousel-caption.captions
                p Merhaba Ben Güngör Öztürk
                br
                
                
            
       

block content
    each blog in blogs
        #part
            .row.my-5
                .col-lg-7
                    h1.display-4.titles= blog.title
                    br
                    p.paragraf= blog.spoiler
                    

                .col-lg-5
                    img.img-fluid(src="/images/" + blog.image, alt='')

            .row
                .col-lg-12
                    .d-flex.align-items-end
                        a.button.btn.btn-primary(href="/blog/" + blog.id) Devamını oku
                            i.ml-2.fas.fa-angle-double-right
                        
        

                            



            

