extends base

block content
    
        .rowB(data-aos="fade-up" data-aos-duration="800")
            each blog in blogs
                .col-sm-3
                    .card.justify-content-center.my-2.text-center
                        a(href="/blog/" + blog._id, style='text-decoration: none; color:#2d2d2d')
                            img.card-img-top.img-fluid(src=blog.image, alt='')
                            .card-body
                                h4.card-title= blog.title
                                br
                                
                                h4.card-text.mt-2 #{author.googleData.displayName}
                            .card-footer
                                small.text-muted #{parseDate(blog.pub_date)}


                
block js
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script.
        AOS.init();