extends base

block content

    .container
        .text-center.my-3
            h2#writers.display-3 Yazarlar

        .row.my-5(data-aos='fade-up', data-aos-duration='800')
            .col-lg-4.text-center
                img#profil_2.img-fluid(src='images/melih.jpg', alt='')
            .col-lg-8
                h1#name_index.display-5.mt-1 Melih Can Ekşioğlu
                br
                p.info
                    | Yaşadığı çağı, toplumu şu an ki haliyle benimseyemeyen, bir şeyler yapmanın gerekliliğine inanan,
                    |elini taşın altına sokmak isteyen, yeni bir çağ hayal eden, gücünü, inancını, ümidini; ilimden, 
                    |sevgiden, hayallerinden alan, sadece eleştiren, yargılayan değil ;geliştiren, değiştiren, yön veren
                    |bir insan haline gelmeye çabalayan biri…Adım ise Melih Can Ekşioğlu. Şu anda Ankara Üniversitesi 
                    |Tıp Fakültesi 2. sınıf öğrencisiyim, bu değerli platformda nörofizyoloji alanında öğrendiklerimi 
                    |kendi süzgecimden geçirdikten sonra sizlerle paylaşacağım. Sizlerle öğrenecek, sizlerden yeni 
                    |şeyler öğreneceğim. Hayallerimin ilk adımını attığım şu zamanlarda, bu platformda sizlerle 
                    |birlikte olmanın mutluluğunu yaşıyorum. Bu yolda beraber yürümek, bir şeyleri değiştirmek 
                    |isteyen herkesi bu platforma bekliyorum.Satırlarıma son vermeden önce şu dizeleri sizlerle 
                    |paylaşmak istiyorum: ‘’Ben öyle bilirim ki yaşamak/Berrak bir gökte çocuklar aşkına savaşmaktır.’’
                    |Sevgi dolu, merhamet dolu, kitaplarla dolu bir dünyada çocukların büyümesi ümidiyle… Hoşçakalın.

            .col-lg-12.text-right
                a.btn.btn-grad.px-3(href='/users/melihcaneksioglu/blogs', role='button', aria-pressed='true') Profili Görüntüle

        .row.my-5(data-aos='fade-up', data-aos-duration='800')
            .col-lg-4.text-center
                img#profil_2.img-fluid(src='images/image_6.jpeg', alt='')
            .col-lg-8
                h1#name_index.display-5.mt-1 Kübra Nur Bektaş
                br
                p.info
                    |Herkese merhaba. Ben Kübra Nur Bektaş. Gazi Üniversitesi Tıp Fakültesi İngilizce 1. sınıf 
                    |öğrencisiyim. Bu platformda insan ruhu ve psikolojisi üzerine araştırmalarımı sizlerle paylaşacağım.
                    |Bununla birlikte, psikiyatrist olmak gibi bir hayali ve amacı olan bir öğrenci olarak ilk ve en 
                    |büyük maksadım, birçok hayale ve bu hayalleri gerçekleştirme potansiyeline sahip yaşlı genç tüm
                    |insanlara birer ışık olabilmek ve yalnız olmadıklarını hatırlatmaktır. Biliyoruz ki bizler 
                    |kendimizi geliştirmedikçe;  bir birey, bir anne, bir baba ya da bir çocuk olarak toplumumuza,
                    |ülkemize ve en çok da kendimize karşı görevimizi yerine getirmiyoruz demektir. Ve unutmamalıyız
                    |ki cehaletin verdiği rahatlık, öğrenmenin verdiği zevkin yerini hiçbir zaman tutamaz. Son olarak
                    |bana bu fırsatı veren, benim için devrim niteliğinde olan bu projede yanımda durup bana destek
                    |olan herkese çok teşekkür ederim. 

            .col-lg-12.text-right
                a.btn.btn-grad.px-3(href='/users/kubranurbektas/blogs', role='button', aria-pressed='true') Profili Görüntüle

        .row.my-5(data-aos='fade-up', data-aos-duration='800')
            .col-lg-4.text-center
                img#profil_2.img-fluid(src='images/image_7.jpg', alt='')
            .col-lg-8
                h1#name_index.display-5.mt-1 Güngör Öztürk
                br
                p.info
                    | Merhaba, ben Güngör Öztürk. Konya Teknik Üniversitesi Bilgisayar Mühendisliği Bölümü 2.sınıf
                    |öğrencisiyim. Bugün uzun zamandır hayalini kurduğum bu platformda, Betik çatısı altında sizlerle
                    |buluşabildiğim için çok mutluyum. Değişen zamanla birlikte bilginin değerinin de ivmelenerek 
                    |arttığını ve bu bilgileri sadece kendimize saklamak yerine elimizden geldiğince birbirimizle 
                    |paylaşarak fikir dünyalarımıza katkı sağlamamız gerektiğini düşünüyorum.Bu nedenle teknoloji,
                    |yazılım ve benzeri konularda yapacağım araştırmaların sonucunda öğrendiklerimi burada sizlerle
                    |paylaşmaya çalışacağım. Birlikte çok şey öğreneceğimize inandığım bu yolda
                    |bugün ilk adımlarımızı atarken adımlarımızın zamanla daha da sıklaşacağını ümit ediyor ve bana
                    |eşlik ettiğiniz için teşekkür ediyorum.
            .col-lg-12.text-right
                a.btn.btn-grad.px-3(href='/users/gungorozturk/blogs', role='button', aria-pressed='true') Profili Görüntüle
        
        .row.my-5(data-aos='fade-up', data-aos-duration='800')
            .col-lg-4.text-center
                img#profil_2.img-fluid(src='images/image_5.jpeg', alt='')
            .col-lg-8
                h1#name_index.display-5.mt-1 Furkan Öztekin
                br
                p.info
                    | Herkese Merhabalar, ben Furkan Öztekin, İstanbul Teknik Üniversitesi Elektronik Haberleşme 
                    |Bölümü’nde öğrenim görmekteyim. Arkadaşlarımın daveti ile katıldığım bu ortamda çeşitli dallarda
                    |edindiğim ve derlediğim bilgileri elimden geldiğince sizinle paylaşmaya çalışacağım. Bağımsızlık
                    |mücadelemizde bize yol gösteren Gazi M.Kemal Atatürk’ün "Hayatta en hakiki mürşit ilimdir, fendir"
                    |sözünü kendimize ilke edindiğimiz bu süreçte sizlerle birlikte keyifli bir öğrenme süreci 
                    |geçireceğimize inanıyorum.
            .col-lg-12.text-right
                a.btn.btn-grad.px-3(href='/users/furkanoztekin/blogs', role='button', aria-pressed='true') Profili Görüntüle

    

            
block js
    script(src="/components/js/index.js")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script.
        AOS.init();
